@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.content-container ul {
  list-style-type: disc;
  margin-inline: 1rem;
}
.link {
  color: blue;
}

img[src*="#logo"] {
  width: 15px;
  height: 15px;
  margin-inline: 0.25rem;
}
